<p id="notice"><%= notice %></p>

<h1>投稿 編集</h1>

<table>
  <thead>
    <tr>
      <th>投稿</th>
      <th>ユーザー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to '開く', micropost %></td>
        <td><%= link_to '編集', edit_micropost_path(micropost) %></td>
        <td><%= link_to '削除', micropost, method: :delete, data: { confirm: '削除してもいいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規投稿', new_micropost_path %>
